<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="th.ac.buu.se.pers">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".StemInsertActivity">
        </activity>
        <activity android:name=".ChoicesInsertActivity">
        </activity>
        <activity android:name=".QuestionActivity">
        </activity>
        <activity android:name=".ExamActivity">
        </activity>
        <activity android:name=".ExamInsertActivity">
        </activity>
        <activity android:name=".ExamListActivity">
        </activity>
        <activity android:name=".ExamSubjectActivity">
        </activity>
        <activity android:name=".QuestionInsertActivity">
        </activity>
        <activity android:name=".QuestionListActivity">
        </activity>
        <activity android:name=".QuestionSubjectActivity">
        </activity>
        <activity android:name=".AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ChatActivity">
        </activity>
        <activity android:name=".MainActivity"/>
    </application>

</manifest>